{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile diri</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/story3-stev.css' %}">
</head> 
<body id="top">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #050505;">
        <a class="navbar-brand" href="#">
            <img src="{% static "img/logo_transparent.png" %}" width="40" height="40" alt="logo ppw">
        </a>
        <ul class="navbar-nav navbar-center ml-auto">
            <li class="nav-item navbutton-right">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item navbutton-right">
                <a class="nav-link" href="#resume">Resume</a>
            </li>
            <li class="nav-item navbutton-right">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
	    <li class="nav-item navbutton-right">
                <a class="nav-link" href="{% url 'jadwal' %}">Schedule</a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
    <script src="{% static 'jquery-3.3.1.slim.js' %}"></script>
    <script src="{% static bootstrap.bundle.min.js %}"></script>
    {% block jquery %}
    {% endblock %}
</html>
