@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,500|Lora:400,400i,700,700i|Roboto:300,400,500,600,700");
@import url("font-awesome/css/fontawesome-all.6e82838726d8.css");

html {
    font-size: 10px;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: #050505;
    font-family: "Lora", serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.882;
    color: #000000;
}

/* ------------------------------------------------------------------- 
 * Aku perlu semua ini secara GLOBAL
 * ------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
    list-style: disc;
}
  
li {
    display: list-item block;
}

 ul li {
    padding-left: .4rem;
}

.row {
	width: 89%;
	max-width: 1200px;
	margin: 0 auto;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

h1 {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 1.222;
    letter-spacing: -.1rem;
    margin-top: 6rem;
    margin-bottom: 1.6rem;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    margin-top: 3rem;
    margin-bottom: 1.6rem;
    text-align: center;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    line-height: 1.1667;
    margin-top: 6rem;
    margin-bottom: 1.6rem;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
}

p {
	font-size: inherit;
	text-rendering: optimizeLegibility;
}

/* ------------------------------------------------------------------- 
 * NAVBAR dan semua pretelannya
 * ------------------------------------------------------------------- */
 .navbar {
    min-height: 73px;
    text-align: center;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/* ------------------------------------------------------------------- 
 * HOME Section dan semua pretelannya
 * ------------------------------------------------------------------- */
.s-intro {
    width: 100%;
    height: 100vh;
    min-height: 792px;
    background-color: #050505;
}
  
.intro-content {
    height: 100%;
    max-width: 1140px;
    padding-top: 20vh;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
  
.intro-pic {
    background-color: #02182c;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../img/stev-intro.5a5bc31de669.jpg");
    background-size: cover;
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 50%;
}
  
.intro-grid {
    background-image: url("../img/pattern-dot-grid.2b3b14b746c5.svg");
    background-size: 24px 24px;
    opacity: .15;
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 30%;
}
  
.intro-text {
    -webkit-transform: translate3d(0, -3.6rem, 0);
    transform: translate3d(0, -3.6rem, 0);
    position: static;
    z-index: 1;
}
  
.intro-text h3 {
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.333;
    color: #cf1767;
    margin-top: 0;
}
  
.intro-text h1 {
    font-size: 7.8rem;
    font-weight: 500;
    line-height: 1.179;
    color: #ffffff;
    margin-top: 0;
}
  
.aboutme-button {
    left: 10.5rem;
    bottom: 22.25rem;
    position: absolute;
}

.aboutme-button a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: .3rem;
    line-height: 2;
    background-color: white;
    color: black;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* ------------------------------------------------------------------- 
 * ABOUT Section dan semua pretelannya
 * ------------------------------------------------------------------- */
.s-about {
    padding-top: 19.2rem;
    padding-bottom: 16.8rem;
    background-color: #ffffff;
}
  
.s-about .row {
    max-width: 1140px;
}

#about h3  {
    font-weight: 560;
    font-size: 75px;
    line-height: 88px;
    margin-top: 2.5rem;
    margin-bottom: 1.6rem;
    text-align: center;
}

#about div > .pb-4 {
    font-size: 23px;
}

#about img {
    width: 232px;
    height: 232px;
    border-radius: 50%;
}

#about .col {
    margin-top: 95px;
}

/* ------------------------------------------------------------------- 
 * RESUME dan semua pretelannya
 * ------------------------------------------------------------------- */
 #resume h3 {
    font-weight: 560;
    font-size: 75px;
    line-height: 88px;
    margin-top: 2.5rem;
    margin-bottom: 1.6rem;
    text-align: center;
}

#resume h4 {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 1.6rem;
}

#resume h5 {
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 20rem;
}

#resume h6 {
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: .16rem;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
}

#resume p {
    padding-bottom: 8.22rem;
}

#resume .col {
    margin-top: 95px;
}

/* ------------------------------------------------------------------- 
 * CONTACT dan semua pretelannya
 * ------------------------------------------------------------------- */
.s-contact {
    padding-top: 18.4rem;
    padding-bottom: 6.4rem;
    background-color: #050505;
    color: white;
  }

#contact h3  {
    font-weight: 560;
    font-size: 75px;
    line-height: 88px;
    margin-top: 2.5rem;
    margin-bottom: 1.6rem;
    text-align: center;
}

#contact h4 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    margin-top: 19px;
}

#contact a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    line-break: 26px;
    text-align: center;
    margin-top: 11px;
    color: #ffffff;
}

#contact .col {
    margin-top: 95px;
}

#email {
    width: 200px;
    height: 140px;
    margin: 0;
}

#phone {
    width: 150px;
    height: 140px;
    margin: 0;
}

/* ------------------------------------------------------------------- 
 * FOOTER dan semua pretelannya
 * ------------------------------------------------------------------- */
.s-footer {
    padding-top: 11rem;
    background-color: #050505;
    color: white;
    margin-bottom: 4rem;
}

#footer h5 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}