{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="intro" class="s-intro">
    <div class="row intro-content">
        <div class="intro-text">
            <h3> Hey.. </h3>
            <h1> I'm Steven. </h1>
        </div>
        <div class="aboutme-button">
            <a href="#about"> ABOUT ME </a>
        </div>
        <div class="intro-grid"></div>
        <div class="intro-pic"></div>
    </div>
</section>                                                                                                                      

<!-- ABOUT -->
<section id="about" class="s-about">
    <div>
        <h2> About </h2>
        <h3> Who am I ? </h3>
        <div class="row">
            <!-- Bagian Kiri -->
            <div class="col text-center">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
                <img src="https://quanta2018.com/Biodata/img/715.png" alt="Profile Photo">
                <div>
                    <p class="pb-5 mt-5 ">
                        A student of Computer Science <br>
                        with interest in Music and Web <br>
                        Development. Love to take a risk <br>
                        and try something that out of <br>
                        my comfort zone. Challenged to <br>
                        make innovative solution and <br>
                        solve a logical problems. 
                    </p>
                </div> 
            </div>
            <!-- Bagian Kanan -->
            <div class="col">
                <div class="pb-4">
                    <b> Full Name: </b> <br>
                    Gilbert Stefano <br>
                </div>
                <div class="pb-4 mt-2 ">
                    <b> Birthdate: </b> <br>
                    July 6, 2000 <br>
                </div>
                <div class="pb-4 mt-2">
                    <b> Interest: </b> <br>
                    Music, Sports, Web Development <br>
                </div>
                <div class="pb-4 mt-2">
                    <b> Website: </b> <br>
                    ppw-stev.herokuapp.com
                </div>
            </div>
        </div>
    </div>
</section>

<!-- RESUME -->
<section id="resume" class="s-about">
    <div>
        <h2> Resume </h2>
        <h3> More About Me </h3>
        <div class="row">
            <!-- Bagian Kiri -->
            <div class="col text-center">
                <div>
                    <h4> Bachelor's Degree </h4>
                    <h5> August 2018 - present </h5>
                </div> 
                <div>
                    <h4> High School Diploma </h4>
                    <h5> July 2015 - May 2018 </h5>
                </div> 
            </div>
            <!-- Bagian Kanan -->
            <div class="col">
                <div>
                    <h6> UNIVERSITAS INDONESIA </h6>
                    <p> - Part of Fasilkom UI 2018 <br>
                        - Mentor’s Staff at OKK UI 2019 <br>
                        - Stage’s Staff at COMPFEST XI <br>
                        - Head of Badminton UI’s Public Relation Division
                    </p>
                </div>
                <div>
                    <h6> SMAN 8 JAKARTA </h6>
                    <p> - Chairman of Rohkris 8 (2016-2017) <br>
                        - Music Director of Collaboreight 2017 <br>
                        - Executive Chairman of Siera 8 (2016-2017) <br>
                        - Tenants and Venue’s Staff at Lampion 2017
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTACT -->
<section id="contact" class="s-contact">
    <div>
        <h2> Contact </h2>
        <h3> Feel Free to Contact Me </h3>
        <div class="row">
            <!-- Bagian Kiri -->
            <div class="col text-center">
                <img id="email" src={% static "img/emails.png" %} alt="Email Logo">
                <div>
                    <h4> Email </h4>
                    <a href="gmail.com"> gilbert.stefano@ui.ac.id </a>
                </div> 
            </div>
            <!-- Bagian Kanan -->
            <div class="col text-center">
                <img id="phone" src={% static "img/Phone.png" %} alt="Phone Logo">
                <div>
                    <h4> Phone </h4>
                    <a href=""> +627786192840 </a>
                </div>
            </div>
        </div>
    </div>
</section >

<!-- FOOTER -->
<section id="footer" class="s-footer">
    <div class="row">
        <div class="col">
            <h5> Gilbert Stefano © 2019 </h5>
        </div>
    </div>
</section>
{% endblock %}